* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  background-color: #747f5a;
}
.top-bar .button {
  height: 32px;
  padding: 8px 16px 0px 16px;
  margin-right: 3px;
  background-color: #A23D3B;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #A9B69C;
}
.top-bar .button:hover {
  color: #fff;
}
.top-bar span {
  font-size: 12px;
  font-stretch: condensed;
  color: #1a1c18;
}

.content-wrapper {
  width: 100vw;
  max-width: 1480px;
  min-height: 800px;
  margin: 0 auto;
  background-color: #f2f1ee;
  color: #1A1C18;
}

.section {
  width: 100%;
  padding: 2%;
  text-align: center;
}
.section .headers {
  letter-spacing: 1px;
}
.section .headers h3 {
  margin: 0;
  font-size: 10.5px;
  line-height: 12px;
}
.section .headers h2 {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
}
.section ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.section ul li .element {
  display: block;
  text-decoration: none;
  color: inherit;
  text-align: initial;
}
.section ul li .element .timestamp {
  font-size: 10px;
  color: #848581;
}
.section ul li .element .image {
  aspect-ratio: 512/341;
}
.section ul li .element .title-comments {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section ul li .element .title-comments .title {
  font-stretch: extra-condensed;
}
.section ul li .element .title-comments i {
  font-size: 20px;
  color: #b0b0b0;
}

.load-more {
  height: 30px;
  background-color: #d2dfc9;
  font-size: 15px;
  font-weight: bolder;
  font-stretch: extra-condensed;
  line-height: 15px;
}
.load-more .button {
  width: 180px;
  height: 30px;
  background-color: #f2f1ee;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  color: #A23D3B;
}
.load-more .button:hover {
  color: #d2dfc9;
}

.advertisement {
  width: 100%;
  cursor: pointer;
}
.advertisement img {
  display: block;
  width: 1258px;
  height: auto;
  margin: 0 auto;
  padding: 3% 0;
  padding-top: 5%;
}

.summary {
  width: 840px;
  height: auto;
  margin: 0 auto;
  font-size: 16px;
  font-stretch: extra-condensed;
  line-height: 24px;
  text-align: center;
  text-transform: none;
}

.collage {
  display: block;
  aspect-ratio: 1480/510;
  height: 510px;
  width: auto;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
}
.collage img {
  display: block;
  height: 100%;
  margin: 0 auto;
}

.explore-title {
  z-index: 1;
  position: relative;
  transform: translateY(19px);
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 1px 25px 0px 25px;
  height: 38px;
  font-size: 22px;
  letter-spacing: 2px;
  font-stretch: extra-condensed;
  font-weight: 550;
  color: #f2f1ee;
  line-height: 38px;
  background: #1A1C18;
  -webkit-clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
  clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
}

.explore {
  display: flex;
  width: min-content;
  margin: 0 auto;
}
.explore .holder {
  width: 340px;
  height: 340px;
  position: relative;
  cursor: pointer;
}
.explore .holder a {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(11, 11, 11, 0.75);
  color: rgba(242, 241, 238, 0.75);
  text-align: center;
  line-height: 15px;
  letter-spacing: 3px;
}
.explore .holder img {
  width: 340px;
}
.explore .holder:hover a {
  visibility: visible;
}

.sponsors-title {
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
  color: #848581;
  font-stretch: extra-condensed;
}
.sponsors-title .outline {
  margin: 0px;
  padding: 3px 3px;
  height: 35px;
  background: #D0CFCD;
  -webkit-clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
  clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
}
.sponsors-title .outline h3 {
  height: 30px;
  margin: 0px;
  padding: 9px 22px 0px 22px;
  background: #F2F1EE;
  -webkit-clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
  clip-path: polygon(100% 0, 97% 50%, 100% 100%, 0% 100%, 3% 50%, 0% 0%);
  font-size: 13px;
  color: #848581;
  line-height: 13px;
}

.sponsors {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 1141px;
}
.sponsors a {
  display: flex;
  width: 228.15px;
  height: 88px;
  margin: 4.5px 0;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
}
.sponsors a:hover {
  justify-content: flex-end;
}
.sponsors a img {
  width: 110px;
  height: 176px;
  margin: 0 auto;
}

#black-bar {
  z-index: 99;
  display: flex;
  width: 100vw;
  max-width: 1480px;
  height: 60px;
  position: relative;
  background-color: #1A1C18;
  color: #D0CFCD;
}

#placeholder {
  display: none;
  height: 60px;
}

nav {
  height: 100%;
  width: 100%;
  padding: 0 375px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}
nav a:hover {
  color: #747f5a;
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.map-search {
  display: flex;
  height: 100%;
  width: 6%;
  position: absolute;
  right: 0;
  font-size: 24px;
  color: #848581;
}
.map-search i {
  cursor: pointer;
}
.map-search i:hover {
  color: #A23D3B;
}
.map-search .location {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.map-search .search {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero {
  position: relative;
  width: 100%;
  height: 60vw;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero .hero-image {
  background-image: url(../images/hero.jpg);
  position: absolute;
  top: -24px;
  aspect-ratio: 200/133;
  width: 100vw;
  max-width: 1480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .flag {
  width: 255px;
  height: 60px;
  background-color: #1A1C18;
  position: absolute;
  top: 80px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  clip-path: polygon(100% 0%, 95% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  color: #D0CFCD;
}
.hero .flag .text {
  font-size: 26px;
  line-height: 60px;
  transform: scale(1.1, 1);
}
.hero .flag .dot-com {
  font-size: 8px;
  position: absolute;
  bottom: 7px;
  right: 38px;
}
.hero .callout {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -60%);
  -ms-transform: translate(-50%, -60%);
  transform: translate(-50%, -60%);
  text-align: center;
  line-height: 1em;
  color: #f2f1ee;
}
.hero .callout h3 {
  height: 28px;
  padding: 0px 0px 2px 0px;
  margin: 0;
  font-size: 14px;
  font-stretch: extra-condensed;
  letter-spacing: 0.1em;
}
.hero .callout h1 {
  margin: 0;
  font-size: 36px;
  font-weight: bolder;
  line-height: 1.1em;
  letter-spacing: 10px;
}
.hero .callout h2 {
  margin: 0;
  font-size: 12px;
  letter-spacing: 2px;
  transform: scale(1.1, 1);
}

.news {
  height: 320px;
  background-color: #f2f1ee;
}
.news ul li .element {
  width: 201px;
}
.news ul li .element .image {
  width: 201px;
}
.news ul li .element .title-comments .title {
  font-size: 14px;
  line-height: 15px;
}
.news ul li .element:hover {
  color: #A23D3B;
}

.reviews {
  width: 100%;
  height: 420px;
  background-color: #d2dfc9;
}
.reviews ul li .element {
  width: 298.4px;
}
.reviews ul li .element .image {
  width: 298.4px;
}
.reviews ul li .element .title-comments .title {
  font-size: 16px;
  line-height: 17px;
}

.reviews-load-more {
  background-color: #f2f1ee;
}
.reviews-load-more .button {
  background-color: #d2dfc9;
}
.reviews-load-more .button:hover {
  color: #747F5A;
}

footer {
  background-color: #8a9675;
  text-align: center;
}
footer img {
  display: block;
  width: 300px;
  padding-top: 40px;
  margin: 0 auto;
}
footer h3 {
  color: #A23D3B;
  font-weight: bold;
  letter-spacing: 1px;
}
footer p {
  width: 1000px;
  margin: 0 auto;
  text-transform: none;
  line-height: 28px;
}
footer .socials a {
  font-size: 25px;
  color: #A23D3B;
  text-decoration: none;
  padding: 0 45px;
}
footer .socials a:hover {
  color: #1A1C18;
}
footer .links {
  font-size: 11px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
footer .links ul {
  list-style-type: none;
}
footer .links ul li a {
  display: inline-block;
  height: 21px;
}
footer .links ul li a:hover {
  border-bottom: 2px solid;
}
footer .text-copyright {
  padding: 30px 0;
  font-size: 14px;
  font-weight: 600;
  color: #31312F;
  text-transform: none;
}

body {
  background-color: #1A1C18;
  font-family: "sans-serif";
  font-weight: bold;
  font-stretch: semi-condensed;
  text-transform: uppercase;
  font-size: 15px;
}

a {
  color: #A23D3B;
  text-decoration: none;
}
