//colors
$primary-dark-color: #1A1C18;

$primary-green: #747f5a;

$primary-red: #A23D3B;
$button-text-color: #A9B69C;

$primary-light-color: #f2f1ee;

$reviews-background-color: #d2dfc9;

//sizes
$black-bar-height: 60px;

$content-wrapper-width: 1480px;
$content-wrapper-min-height: 800px;

$flag-width: 255px;
$flag-height: 60px;

$news-height: 320px;
